.profile-links {
  display: inline-block;

  background-color: rgb(144, 136, 136);
  height: 100vh;
  width: 200px;
}

.single-link {
  display: grid;
  margin-bottom: 48px;
  margin-top: 24px;
  margin-left: 24px;
  color: rgb(215, 215, 215) !important;
}
