.showpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: rgba(231, 231, 231, 0.7);
  border-radius: 8px;
  margin-top: 160px;
  width: 90%;

  img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
  }
}

.details {
  width: 100%;
  margin: auto;
  padding: 20px;
}


.create-btn {
  display: flex;
  align-items: center;
}
