.container_signup {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cms.finnair.com/resource/blob/1327786/e2c257a1194339f4861492a2786057b8/meals-main2-data.jpg');
  background-position: bottom;
  width: 100%;
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
