// .container_signup {
//   display: grid;
//   width: 100%;
//   height:80vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

.sign-in-container {
  width: 30%;
  justify-content: center;
  margin: 0 auto;
}
