<div class="d-flex">
  <div class="profile-links">
    <%= link_to "Create offer", new_offer_path, class: "single-link" %>
    <%= link_to "Orders", orders_path, class: "single-link" %>
    <%= link_to "Bookings", orders_path, class: "single-link" %>
  </div>

  <h2> Hello <%= @user.first_name %> 👋 </h2>
</div>
