<div class="footer">
  <div class="footer-links">
    <i class="fa-solid fa-beer-mug-empty"></i>
  </div>
  <p>FOODMARKET ®©℠™ - Natalia Luiz Carlos Xaver</p>
  <div class="footer-copyright">
    <i class="fa-solid fa-beer-mug-empty"></i>
  </div>
</div>
