.btn-brick {
  background-color: rgb(223, 120, 97);
  border-radius: 10px;
  color: rgb(252, 248, 232);

}

.btn-sage {
  background-color: rgb(148, 180, 159);
  border-radius: 10px;
  color: rgb(252, 248, 232);
}

.btn-fog {
  background-color: rgb(110, 110, 110);
  border-radius: 10px;
  color: rgb(252, 248, 232);
}

.btn-curry {
  background-color: rgb(235, 162, 78);
  border-radius: 10px;
  color: rgb(252, 248, 232);
  margin-bottom: 24px;
}
