.food-cards {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
}

.food-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin-bottom: 16px;
  margin-right: 16px;
  position: relative;
}

.food-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.food-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.food-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.food-card .food-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // position: relative;
  text-decoration: none;
}

.food-avatar {
  position: absolute;
  right: 16px;
  bottom: 105px;
  width: 40px;
}

.fixed-price {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
