.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: rgb(252, 248, 232);
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  color: rgb(223, 120, 97);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.initial-margin {
  margin-top: 60px;
}
